include helpers/variables.pug
- pageTitle = 'Courses'

doctype 

html(lang="en")
    head 
        include includes/head-tags.pug
        title=pageTitle
    body
        div(class=pageClassName)
            include layouts/sidebar.pug
            .content
                include layouts/header.pug
                .main__content 
                    include layouts/content-title.pug
                    // Courses Widgets
                    .widgets.widgets-200-300.widgets--courses
                        each course in courses
                            // Course Widget
                            .widget.widget--course
                                .widget__image
                                    img.course(src=course.image)
                                    img.instructor(src=course.instructor)
                                .widget__content.widget__content--course
                                    h4.title= course.title
                                    p.details= course.details
                                    span.btn.btn--primary.btn--course Course Info
                                .widget__footer.widget__footer--course
                                    .followers
                                        i(class="fa-regular fa-user")
                                        span.number= course.followers
                                    .cost
                                        i(class="fa-solid fa-dollar-sign")
                                        span.dollars= course.dollars 