include helpers/variables.pug
- pageTitle = 'Dashboard'

doctype 

html(lang="en")
    head 
        include includes/head-tags.pug
        title=pageTitle
    body
        div(class=pageClassName)
            include layouts/sidebar.pug
            .content
                include layouts/header.pug
                .main__content 
                    include layouts/content-title.pug
                    .widgets.widgets-450.dashboard__widgets
                        // Start Welcome Widget
                        .widget.welcome--widget
                            .widget__header.widget__header--welcome
                                .welcome_header_text
                                    h3 Welcome 
                                    span Mohammed
                                .welcome_header_image
                                    img(src="imgs/welcome.png")
                            .welcome__profile
                                img(src="imgs/avatar.png")
                            .widget__content.widget__content--welcome.welcome__content
                                div 
                                    p Mohammed Eladawi
                                    span Developer
                                div
                                    p 80
                                    span Projects
                                div
                                    p $8500
                                    span Earned
                            .widget__footer.widget__footer--welcome.welcome__footer
                                button.btn.btn--primary Profile
                        // End Welcome Widget
                        // Start Draft Widget
                        .widget.draft--widget
                            .widget__header.widget__header--draft 
                                h3 Quick Draft
                                span Write A Draft For Your Ideas
                            .widget__content.widget__content--draft.draft__content
                                input(type="text" placeholder="Title")
                                textarea(name="thoughts", cols="30", rows="10" placeholder="Your Thoughts")
                            .widget__footer.widget__content--footer.draft__footer
                                button.btn.btn--primary Save
                        // End Draft Widget
                        // Start Yearly Target Widget
                        .widget.target--widget
                            .widget__header.widget__header--target
                                h3 Yearly Target
                                span Targets Of the Year
                            .widget__content.widget__content--target.target__content
                                each target in targetFeatures
                                    //- Construct class names dynamically
                                    - const targetClass = `content_details content_details--${target.name} ${target.color}`
                                    div(class=targetClass)
                                        //- Render the target icon
                                        .target__icon(class=`target__icon target__icon--${target.color}`)
                                            i(class=target.iconClass)
                                        //- Display target information
                                        .target__info
                                            span #{target.name.charAt(0).toUpperCase() + target.name.slice(1)}
                                            p=target.count
                                            .progress__container
                                                //- Display progress
                                                span.reached(data-progress=`${target.progress}`)
                        // End Yearly Target Widget
                        // Start Tickets Statistics Widget
                        .widget.widget--tickets
                            .widget__header.widget__header--tickets
                                h3 Tickets Statistics
                                span Everything About Support Tickets
                            .widget__content.widget__content--tickets
                                each ticket in tickets
                                    .ticket
                                        i(class=ticket.iconClass)
                                        p=ticket.statistic
                                        span=ticket.status
                        // End Tickets Statisticks Widget
                        // Start Latest News Widget
                        .widget.widget--news
                            .widget__header.widget__header--news
                                h3 Latest News
                            .widget__content.widget__content--news
                                each latest in latestNews
                                    .new
                                        .new__img 
                                            img(src=latest.srcImg)
                                        .new__info 
                                            p=latest.title
                                            span=latest.details
                                        .new__time
                                            span.btn.btn--info=latest.since
                        // End Latest News Widget
                        // Start Latest Tasks Widget
                        .widget.widget--tasks 
                            .widget__header.widget__header--tasks
                                h3 Latest Tasks
                            .widget__content.widget__content--tasks 
                                each task in latestTasks
                                    .task
                                        .task__info
                                            p=task.title
                                            span=task.details
                                        i.fa-regular.fa-trash-can.delete
                        // End Latest Tasks Widget    
                        // Start Top Search Items Widget     
                        .widget.widget--search
                            .widget__header.widget__header--search
                                h3 Top Search Items
                            .widget__content.widget__content--search 
                                .content__head
                                    p Keyword
                                    span Search Count
                                .content__body
                                    each count, category in searchItems
                                        .item
                                           p=category
                                           span.btn.btn--info=count 
                        // End Top Search Items Widget                   
                        // Start Latest Uploads Widget
                        .widget.widget--upload
                            .widget__header.widget__header--uploads
                                h3 Latest Uploads
                            .widget__content.widget__content--uploads 
                                each upload in latestUploads
                                    .upload
                                        .upload__info
                                            img(src=upload.srcImg)
                                            .upload__details 
                                                p=upload.name
                                                span=upload.consumer 
                                        span.btn.btn--info.upload__size=upload.size
                        // End Latest Uploads Widget
                        // Start Last Project Progress Widget
                        .widget.widget--progress 
                            .widget__header.widget__header--progress
                                h3 Last Project Progress
                            .widget__content.widget__content--progress
                                .progress__container
                                .workflows
                                    each flow in workflow
                                        .workflow
                                            span
                                            p=flow
                        // End Last Project Progress Widget
                        // Start Reminders Widget
                        .widget.widget--reminders
                            .widget__header.widget__header--reminders
                                h3 Reminders
                            .widget__content.widget__content--reminders
                                each reminder in reminders
                                    .reminder(class=reminder.color)
                                        span
                                        span
                                        .reminder__data 
                                            p=reminder.task
                                            span=reminder.date
                            
                        // End Reminders Widget
                        // Start Latest Post Widget
                        .widget.widget--post
                            .widget__header.widget__header--post
                                h3 Latest Post
                            .widget__content.widget__content--post
                                .profile
                                    img(src="imgs/avatar.png")
                                    .post__info
                                        h4 Mohammed Eladawi
                                        span About 3 Hours Ago
                                .post
                                    p You Can Fool All Of The People Some Of The Time, And Some Of The People All Of The Time, But You Can't Fool All Of The People All Of The Time.
                            .widget__footer.widget__footer--post
                                span
                                    i.fa-regular.fa-heart
                                    | 1.8K

                                span
                                    i.fa-regular.fa-comments
                                    | 500
                        // End Latest Post Widget
                        // Start Social Media Stats Widget
                        .widget.widget--social
                            .widget__header.widget__header--social
                                h3 Social Media Stats
                            .widget__content.widget__content--social
                                each social in socialStats 
                                    div(class=`app ${social.app}`)
                                                .app__icon
                                                    i(class=social.icon)
                                                p.app__stats=social.stats
                                                button.btn.btn--app=social.button
                        // End Social Media Stats Widget

                    // Start Project Table
                    .widget.widget--projects 
                        .widget__header.widget__header--projects
                            h3 Projects
                        .widget__content.widget__content--projects
                            table 
                                thead
                                    tr
                                        td Name	
                                        td Finish Date
                                        td Client
                                        td Price
                                        td Team
                                        td Status
                                tbody
                                    each project in projects
                                        tr
                                            td.name= project.name
                                            td.date= project.finishDate
                                            td.client= project.client
                                            td.price= project.price
                                            td.team
                                                each person in project.team
                                                    img.person(src=person)
                                            td.status
                                                span(class=`btn btn--${project.status.toLowerCase().replace(/\s+/g, "-")}`)= project.status
                    // End Project Table


